footer{
    background: #0f5990;
    color: #fff;
    padding:40px 0;
    margin-top:30px;
    border-top:1px solid #fec106;
}
footer ul{
    list-style: none;
    padding:0;
    margin:0;
}
footer li{
    display: inline-block;
}
footer li a {
    font-size: 1.4em;
    color: #fff;
    margin-right:14px;
}