<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.8051173528715!2d85.34318955083727!3d27.72330278270083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1965e4e5caf3%3A0x945d56fe1480e9ee!2sEducare+Plaza!5e0!3m2!1sen!2snp!4v1554269759549!5m2!1sen!2snp" width="100%" height="130px" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>
      <div class="col-sm-5">
          <p>
              <b>Medical Academy For Residency Success Pvt. Ltd.</b><br>
              Educare Plaza, 3rd Floor, Chabahil Bridge<br>
              Kathmandu, Nepal<br>
              01-4372883, 9851071276,9842553626<br>
              dbmi.nepal@gmail.com<br>
              
          </p>
      </div>
      <div class="col-sm-3">
        <div class="follow">
          <h5>Follow Us</h5>
          <ul>
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
