<div class="container">
    <h2>MARS TEST</h2>
    <div class="ques_bank">
        <form action="" *ngFor="let question of QuestionList" id="question.id">
            <section class="ques card">
                <div class="card-header">
                    <strong>Q: {{question.Question}}</strong>
                </div>
                <ul class="card-body">
                    <li>
                        <input type="radio" name="question.Id" value="question.A" (click)="
                            GetSelectedAnswer(
                              'A',
                              question.Correct,
                              question.Id,
                              question.Question
                            )
                            "><label for="">{{question.A}}</label>
                    </li>
                    <li>
                        <input type="radio" name="question.Id" value="question.B" (click)="
                            GetSelectedAnswer(
                              'B',
                              question.Correct,
                              question.Id,
                              question.Question
                            )
                            "><label for="">{{question.B}}</label>
                    </li>
                    <li>
                        <input type="radio" name="question.Id" value="question.C" (click)="
                            GetSelectedAnswer(
                              'C',
                              question.Correct,
                              question.Id,
                              question.Question
                            )
                            "><label for="">{{question.C}}</label>
                    </li>
                    <li>
                        <input type="radio" name="question.Id" value="question.D" (click)="
                            GetSelectedAnswer(
                              'D',
                              question.Correct,
                              question.Id,
                              question.Question
                            )
                            "><label for="">{{question.D}}</label>
                    </li>

                </ul>
            </section>
        </form>
        <div class="submission clearfix" *ngIf="DataFlag">
            <input type="submit" class="btn btn-primary" value="Submit" (click)="SubmitTest()">
        </div>
    </div>
</div>

<ngx-loading-spinner top="300" color="red"></ngx-loading-spinner>
<!-- <countdown [config]="config" (notify)="onNotify($event)">$!h!:$!m!:$!s!</countdown> -->