ul,
li {
    list-style: none !important;
    margin: 0 !important;
}

ul {
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

.submission input {
    float: right;
    font-size: 1.2em;
}

.ques {
    margin-bottom: 25px;
}

.ques label {
    padding-left: 15px;
    font-size: 1.1em;
}

.ques strong {
    display: block;
    padding: 7px 15px;
    font-size: 1.2em;
    font-weight: 400;
}

.quest ul li:first-child {
    padding-top: 22px;
}

.ques li {
    padding: 0 25px;
}

h2 {
    margin: 12px 0 20px 0;
    text-align: center;
    color: #243e95;
    font-weight: 400;
}