<div class="about category" id="about_zone">

  <div class="container">
    
    <h2 class="title">About Us</h2>
      <div data-aos="fade-up">
      <p>
        DBMCI is a specially evolved cohesive force of leading educationists, having vast experience in teaching thousands of aspirants of PG Entrance examinations. The experience, expertise and in depth understanding of examination trends in the past so many years have been thoroughly blended with the demands of today's students to create DBMCI, a first of its kind modern methodology based institution for preparing serious and dedicated aspirants to take up the challenges of medical exams.
      
        <b></b>
        The key factor of our organization lies in the full time dedication of our faculty in different streams, thoroughly upgraded know-how and techniques evolved by them in making even the most difficult concepts crystal clear. Answering the most difficult of problems in the most understandable form has been the constant effort of our full time faculty.
        
        The vision of our organization lies in providing quality education in the easiest possible way, which can motivate the spirits of even an average student in developing the conviction that 'I CAN ALSO DO IT AND I WILL DO IT'. Recognizing the facts, that the needs of aspirants are diverse, although they share a common goal of qualifying the PG entrance exams, we have planned a number of courses to meet their needs. The courses, as described, can be taken exclusively or in a suitable combination so as to best supplement your efforts in achieving the ultimate objective.
      </p>
      </div>
  </div>
</div>
