
.about p{
    text-align: center;
    font-size: 0.8em;
}
.about b{
    display: block;
    content: '';
    height:20px;
}
@media only screen and (min-width: 600px){
    .about p{
    font-size: 1em;
    }
}
@media only screen and (min-width: 850px)  {
    .about p{
        font-size: 1.1em;
    }
}