<div class="courses category" id="courses_zone">
        <h2 class="title">Courses</h2>
   <div class="container_course">
      
                
                 
        
                    <div class="item_course">
                        <div class="hexagon">
                            <span>
                                <img [src]=blue alt="courses">
                                <small>Anatomy</small>
                            </span>
                        </div>
                    </div>
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=orange alt="courses">
                                    <small>Physiology</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=green alt="courses">
                                    <small>Biochemistry</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=red alt="courses">
                                    <small>Microbiology</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=red alt="courses">
                                    <small>Pathology</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=blue alt="courses">
                                    <small>Pharmacology</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=green alt="courses">
                                    <small>Forensic Medicine</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=green alt="courses">
                                    <small>ENT</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=red alt="courses">
                                    <small>Ophthalmology</small>
                                </span>
                            </div>
                    </div> 

                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=blue alt="courses">
                                    <small>PSM</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=orange alt="courses">
                                    <small>Anesthesia</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=orange alt="courses">
                                    <small>Dermatology</small>
                                </span>
                            </div>
                    </div> 

                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=red alt="courses">
                                    <small>Medicine</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=blue alt="courses">
                                    <small>OBG</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=red alt="courses">
                                    <small>Orthopedics</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=orange alt="courses">
                                    <small>Pediatrics</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=blue alt="courses">
                                    <small>Psychiatry</small>
                                </span>
                            </div>
                    </div> 
                    <div class="item_course">
                            <div class="hexagon">
                                <span>
                                    <img [src]=blue alt="courses">
                                    <small>Radiology</small>
                                </span>
                            </div>
                    </div> 
        
    </div>
    <div class="container courses_list">
        <ul>
            <li>
                <b>Anatomy</b>
             
            </li>
            <li>
                <b>Physiology</b>
             
            </li>
            <li>
                <b>Biochemistry</b>
             
            </li>
            <li>
                <b>Microbiology</b>
             
            </li>
            <li>
                <b>Pathology</b>
             
            </li>
            <li>
                <b>Pharmacology</b>
             
            </li>
            <li>
                <b>Forensic<br> Medicine</b>
             
            </li>
            <li>
                <b>ENT</b>
             
            </li>
            <li><b>Opthalmology</b></li>
            <li><b>PSM</b></li>
            <li><b>Anesthesia</b></li>
            <li><b>Dermatology</b></li>
            <li><b>Medicine</b></li>
            <li><b>OBG</b></li>
            <li><b>Orthopedics</b></li>
            <li><b>Pediatrics</b></li>
            <li><b>Psychiatry</b></li>
            <li><b>Radiology</b></li>
            <li><b>Surgery</b></li>
        </ul>
    </div>
</div>
