


.item_course{
    grid-column: span 2;
    width: 200px;
    padding: 0 0 231px 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: #fd005f;
    overflow: hidden;
    visibility: hidden;
    margin-top: -50px;
  }
  
  .item_course:nth-child(9n+1){ grid-column-start: 1;}
  .item_course:nth-child(9n+2){ grid-column-start: 3;}
  .item_course:nth-child(9n+3){ grid-column-start: 5;}
  .item_course:nth-child(9n+4){ grid-column-start: 7;}
  .item_course:nth-child(9n+5){ grid-column-start: 9;}
  .item_course:nth-child(9n+6){ grid-column-start: 2;}
  .item_course:nth-child(9n+7){ grid-column-start: 4;}
  .item_course:nth-child(9n+8){ grid-column-start: 6;}
  .item_course:nth-child(9n){ grid-column-start: 8;}
  
  .hexagon{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-transform: skewY(-30deg) rotate(60deg);
      -moz-transform: skewY(-30deg) rotate(60deg);
      -webkit-transform: skewY(-30deg) rotate(60deg);
      -ms-transform: skewY(-30deg) rotate(60deg);
      transform: skewY(-30deg) rotate(60deg);
      overflow: hidden;
    
  }
  .hexagon small{
      position: absolute;
      bottom:45%;
      left: 0;
      right:0;
      text-align: center;
      z-index: 3;
        font-size: 1.1em;
        color: #fff;
  }
    .hexagon img{
        width: 100%;
        height: 100%;
    }
  .item_course *{
      visibility: visible
  }
  .container_course{
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-column-gap: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    width: 1040px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  /**** Responsive wizardry ****/
  .courses_list{
      display: none;
  }
  @media(max-width: 1100px){
    .container_course{
      grid-template-columns: repeat(8, 100px);
      width: 830px
    }
  .item_course:nth-child(7n+1){ grid-column-start: 1;}
  .item_course:nth-child(7n+2){ grid-column-start: 3;}
  .item_course:nth-child(7n+3){ grid-column-start: 5;}
  .item_course:nth-child(7n+4){ grid-column-start: 7;}
  .item_course:nth-child(7n+5){ grid-column-start: 2;}
  .item_course:nth-child(7n+6){ grid-column-start: 4;}
  .item_course:nth-child(7n){ grid-column-start: 6;}
  }
  
  @media(max-width: 850px){
    .container_course{
      grid-template-columns: repeat(6, 100px);
      width: 620px
    }
  .item_course:nth-child(5n+1){ grid-column-start: 1;}
  .item_course:nth-child(5n+2){ grid-column-start: 3;}
  .item_course:nth-child(5n+3){ grid-column-start: 5;}
  .item_course:nth-child(5n+4){ grid-column-start: 2;}
  .item_course:nth-child(5n){ grid-column-start: 4;}
  }
  
  @media(max-width: 720px){
    .container_course{
    grid-template-columns: repeat(4, 100px);
      width:410px;
    }
    
    .item_course:nth-child(3n+1){ grid-column-start: 1;}
    .item_course:nth-child(3n+2){ grid-column-start: 3;}
    .item_course:nth-child(3n){ grid-column-start: 2;}
  }
  @media(max-width: 630px){
      .container_course{
          display: none;
      }
      .courses_list{
          display: block;
      }
      .courses_list ul{
          padding:0;
          margin: 0;
      }
      .courses_list li{
          margin-bottom: 12px;
          display: block;
          list-style: none;
      }
      .courses_list b{
          display: inline-block;
          padding:10px 15px;
          color: #fff;
          
          box-shadow: 0 0 5px #ccc;
          font-weight: 300;
          width:60%;
          text-align: center;
      }
      .courses_list li:nth-child(odd){
        display: flex;
        justify-content: flex-start;
      }
      .courses_list li:nth-child(odd) b{
        background: rgba(21,64,143,0.9);
      }
      .courses_list li:nth-child(even) b{
        background: rgba(254, 193,6,0.9);
      }
      .courses_list li:nth-child(even){
        display: flex;
        justify-content: flex-end;
      }
  } 
