<div class="batch category" id="batch_zone">
  <div class="container">
    <h2 class="title">Regular Batch</h2>
    
    <div class="row" >
      <div class="col-md-1"></div>
      <div class="col-sm-6 col-md-5" >
        <ul>
          <li><i class="fas fa-check"></i>Highly Competent Faculty from Delhi</li>
          <li><i class="fas fa-check"></i>Duration 6-months</li>
          <li><i class="fas fa-check"></i>Classes on weekends</li>
          <li><i class="fas fa-check"></i>Full Syllabus Covered in Detail</li>
          <li><i class="fas fa-check"></i>Regular Class Test After Completion of Subject.</li>
          <li><i class="fas fa-check"></i>Fully air conditioned class room and library facility</li>
          <li><i class="fas fa-check"></i>Free onlne Test Series</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-5" >
        <div>
          <img [src]=batch_img alt="regular batch picture">
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  
  </div>
</div>
