.batch img{
    width: 100%;
}
.batch ul{
    list-style: none;
    padding-top:15px;
    padding:0;
}
.batch li{
    margin-bottom: 5px;
    font-size: 0.8em;
}
.batch li i{
    color: green;
    padding-right:10px;
}
.batch .col-md-1{
    display: none;
}
@media only screen and (min-width: 1090px){
    .batch .col-md-1{
        display: inline-block;
    }
}
@media only screen and (min-width: 850px){
    .batch li{
        font-size: 1.1em;
        margin-bottom:10px;
    }
}
