.prep_content{
    background: #fff;
    padding:15px 20px;
    box-shadow:0 0 7px #eaeaea;
    font-size: 0.8em;
}
.prep_content h3{
    color: #fec106;
    text-shadow:1px 1px 3px #ccc;
}
@media only screen and (min-width: 1090px){
    .prep_content{
        font-size: 1em;
    }
}