<div class="category" id="prep_zone">
  <h2 class="title">MARS Preparation Zone</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="prep_content">
        <h3>Why MARS?</h3>
        <p>
            Dr. Bhatia's Medical Coaching Institute (DBMCI) is India's first coaching centre which helps PG Entrance Exam aspirants to realise their dreams of having a successful and flourishing career in Medicine. DBMCI is not only the most experienced institute among its competitors but it also boasts a team of leading educationists and a panel of experienced doctors to guide the students. Dr. Bhatia's provides students with the best infrastructure and advanced study material which help them outshine their competitors. As a result, over the last 10 years, DBMCI students have emerged toppers in all the major exams (AIIMS, NEET, DNB etc).Dr. Bhatia's Medical Institute is without doubt the best bet for those preparing for PGEE.</p>
        </div>
      </div>
      <div class="col-md-6" >
          <iframe width="100%" height="340" src="https://www.youtube.com/embed/Tky4M9N6Rhc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
