<div class="contact category">
    <div class="container">
        <h2 class="title">
            Contact
        </h2>
        <div class="rows">
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.8051173528715!2d85.34318955083727!3d27.72330278270083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1965e4e5caf3%3A0x945d56fe1480e9ee!2sEducare+Plaza!5e0!3m2!1sen!2snp!4v1554269759549!5m2!1sen!2snp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6">
                <p>
                    <b>Medical Academy For Residency Success Pvt. Ltd.</b>
                    Educare Plaza, 3rd Floor, Chabahil Bridge
                    Kathmandu, Nepal
                    01-4372883
                    9851071276,9842553626
                    dbmi.nepal@gmail.com
                    
                </p>
            </div>
        </div>
    </div>
</div>
