.text_logo {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    padding:0 5px;
}
nav{
    background: #f4f3f2;
    border-bottom: 1px solid #ccc;
}
.nav_logo a:first-child{
    color:#15408f;
    font-weight: 800;
}
.nav_logo a:first-child b{
    color: #fec106;
}
.navbar{
    padding:0 !important;
}
.nav_logo a:hover{
    text-decoration: none;
}
.logo{
    display: none;
    padding:5px 0;
    width:40px;
}
.logo img{
    width:100%;
}
.nav-link{
    font-family: 'Roboto', sans-serif;
    color: #15408f !important;
    font-size: 1.1em;
    letter-spacing: 1px;
}
.change_nav .nav-link{
    color: #fff !important;
    font-weight: normal;
}
.change_nav .fa-bars{
    color: #fff;
}
.change_nav {
    background: #0f5990;
    border-bottom:1px solid #ccc;
}
.change_nav .text_logo{
    display: none;
}
.change_nav .logo{
    display: block;

}
.fa-bars{
    color: #0f5990;
    font-size:1.3em;
}
nav button:focus{
    outline: none !important;
}
.collapsing .nav-link, .show .nav-link{
    color: #fff !important;
    padding:0 0 3px 0;
    margin:5px 14px;
    font-size: 1em;
    border-bottom: 1px solid #ccc;
}

.collapsing .navbar-nav {
    background: #0f5990;
}
.show .navbar-nav {
    background: #0f5990;
}
@media only screen and (min-width: 600px)  {
    .text_logo {
        font-size: 2em;
        letter-spacing: 2px;
    }
    .nav-link{
        padding:0 1.1em !important;
        font-size: 1.2em;
        font-weight: 600;
    }
    
}