<nav class="navbar navbar-expand-lg  " id="nav_scroll">
  <div class="container">
    <div class="nav_logo">
        <a href="#" class="text_logo"><b>MA</b>RS</a>
        <a href="#" class="logo"><img [src]=logo alt="logo"></a>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span class="mr-auto"></span>
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="#home_page">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about_zone">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#courses_zone">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer_zone">Take Test</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="#footer_zone">Contact Us</a>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link btn btn-primary">Take Test</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      
    </div>
  </div>
</nav>

