
.testimonial h4{
    padding:10px 0;
    color: #15408f;
}
.carousel-inner a{
    color: #15408f !important;
}
.carousel-indicators li{
    content: 'sdfsdf';
    background-color: #15408f !important;

}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none !important;
}

.carousel-control-prev, .carousel-control-next{
    color: #0f5990;
    font-size: 2em;

}
.carousel-item > div{
    padding:30px 0;
}
.carousel-item img{
    max-width: 100%;
}
.carousel-item p{
    font-size: 0.9em;
}
.carousel-item strong{
    color:#fec106;
    font-size: 2em;
    padding-right:10px;
}
