
<div class="container testimonial category">
  <h2 class="title">Testimonial</h2>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
   
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <img [src]=ashok alt="Dr.Ashok">
                </div>
                <div class="col-sm-6">
                  <h4><strong class="fas fa-quote-left"></strong> Dr. Ashok </h4>
                  <p><i>
                      Thank you Mars Nepal team for excellent classes.. I cleared my FCPS-1 medicine and allied in February 2019...yet to join hospital Thank you all the entire faculties of DBMCI NEPAL for your great support in this journey
                  </i></p>
                </div>
                <div class="col-sm-2"></div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <img [src]=archana alt="Dr. Archana">
                </div>
                <div class="col-sm-6">
                  <h4><strong class="fas fa-quote-left"></strong>Dr. Archana</h4>
                  <p><i>
                      Thank u Mars Nepal for every guidance n support throughout the journey of pg entrance preparation...<br>
                      All the classes and faculties were competent and excellent.<br>
                      No words can really completely capture the joyous feelings in my heart when I think of how mars nepal has benefited so many thousands of people like me these past years...I have tried several times but each time I am so overwhelmed with the things I want to convey that I just get so choked up......
                  </i></p>
                </div>
                <div class="col-sm-2"></div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <img [src]=pallavi alt="Dr. pallavi">
                </div>
                <div class="col-sm-6">
                  <h4><strong class="fas fa-quote-left"></strong>Dr. Pallavi Koirala</h4>
                  <p><i>
                      Thank you so much for your guidance and support dear Mars Nepal...I joined COMS, Bharatpur for MD Community Medicine this year...your course was really very fruitful to me !! Thank you so much for your motivation 
                  </i></p>
                </div>
                <div class="col-sm-2"></div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <img [src]=shilpi alt="Dr. Shilpi">
                </div>
                <div class="col-sm-6">
                  <h4><strong class="fas fa-quote-left"></strong>
                    Dr. Shilpi Mahto
                  </h4>
                  <p><i>
                      Thank you MARS Nepal.<br>
                      It is very easy to set a target but equally tough to achieve it. A proper dedication and consistent effort are required continuously for a long period of time that makes it more tough.<br>
                      I found MARS Nepal really helpful in maintaining my efforts and kept me motivated. The highly esteemed faculty members guided me on how to focus on important topics and use them for competitive exams. I think weekend classes, gaps to revise and test after completion of each topic worked really well for me. The classroom environment helped me get over all the fear factors and mock tests by the completion of classes just boosted my confidence. It was a lifetime experience for me.
                      I appreciate the dedication of the Team and I am thankful to all the faculty members who guided me to achieve my goal. Thank you very much.
                      
                  </i></p>
                </div>
                <div class="col-sm-2"></div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <img [src]=sudeep alt="Dr. Sudeep">
                </div>
                <div class="col-sm-6">
                  <h4><strong class="fas fa-quote-left"></strong>Dr. Sudeep Pandit</h4>
                  <p><i>
                      MARS NEPAL team Thanks, for the support and the effort made by the MARS NEPAL team for the help in PG entrance preparation, It was only possibly due to effort by your team. I am personally very thankful to the team due to which I have able to bagged RESIDENCY in GENERAL SURGERY in CMC ( chitwan ). The whole course was not only academic but also motivational study. I am personally thankful from core of my heart for excellent lectures, motivation and providing great spirit for success not only in academics but every aspect of life. 
                  </i></p>
                </div>
                <div class="col-sm-2"></div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <img [src]=tajalli alt="Dr. tajali">
                </div>
                <div class="col-sm-6">
                  <h4><strong class="fas fa-quote-left"></strong>Dr. Tajali Rahi</h4>
                  <p><i>
                      Thank you Mars Nepal for the excellent faculty and précised classes of every subject which helped me clear my doubts. The teachers were really helpful and motivating. The notes helped me for my pg entrance preparation. 
                  </i></p>
                </div>
                <div class="col-sm-2"></div>
              </div>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon " aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>