<div class="container">
    <form class="form-control">
        <ul>
            <li>
                <div>
                    <h3>Questions</h3>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </li>
        </ul>
    </form>
</div>
<ul>

</ul>