/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~aos/dist/aos.css";
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.content {
    background: url('app/img/bg2.png') 0 0 repeat;
}

.title {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 20px;
    position: relative;
    color: #15408f;
    font-size: 1.4em;
}


/* .title:after{
    position: absolute;
    bottom: -4px;
    left: 45%;
    
    content: '';
    width:40px;
    background: #15408f;
    height: 3px;
} */

.category {
    padding-top: 30px;
}

.category .container {
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

@media only screen and (min-width: 600px) {
    .category {
        padding-top: 50px;
    }
    .category .container {
        padding-bottom: 70px;
    }
    .title {
        font-size: 2em;
        margin-bottom: 40px;
    }
    .title:after {
        left: 47%;
        width: 50px;
    }
}