img{
    width:100%;
}
#home_page{
    position: relative;
}
#home_page > div:first-child{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 5;
}
.home{
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    overflow: hidden;
    z-index: 3;
}
.home_content{
    position: absolute;
    display: none;
    left: 0;
    bottom:0;
    right:0;
    z-index: 4;
    
}
.home_content img{
    width:80%;
}

.social{
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 5;

}
.social ul{
    list-style: none;
    padding:0;
    margin:0;
    position: absolute;
    bottom:-120px;
    right:0;
    z-index: 4;
    display: none;
}
.show_list{
    bottom:40px !important;
    display:block !important;
}
.social a,.social button{
    color: #fff;
    background: #fec106;
    font-size: 1.3em;
    border-radius:50%;
    padding:6px 12px;
    border:none;
    box-shadow: 0 0 4px #ccc;
}
.social li{
    margin-bottom: 15px;
}
button:focus{
    outline:none;
}
@media only screen and (min-width: 400px){
    .home_content{
        display: block;
    }
    
}
@media only screen and (min-width: 800px){
    .social a,.social button{
        font-size: 2em;
        padding:8px 15px;
    }
    .show_list{
        bottom:70px !important;
    }
}
@media only screen and (min-width: 600px){
    .home_content{
       
        bottom:10%;
       
    }
    .home_content img{
        width:100%;
    }
}