
  <div id="home_page">
      <div>
          <app-nav></app-nav>
      </div>
      <div class="home">
        
        <img [src]=bg_image alt="background image">
        <div class="home_content">
            <div class="container">
              <span>
                <img [src]=med_logo alt="medicial sign">
              </span>
              
            </div>
        </div>
      </div>
     
      
  </div>

  <div class="content">
    <app-about></app-about>
    <app-courses></app-courses>
    <app-batch></app-batch> 
 <app-prepzone></app-prepzone>
    <app-testimonial></app-testimonial>
    <app-footer></app-footer>
  </div>
    <div class="social">
      
        <ul id="social_list">
          <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://m.youtube.com/channel/UC3MAlzRcXIzaSZbqAdZngpQ?itct=CBoQ6p4EIhMIwqTVo6Hj4gIVWM9zAR1WNg2r&csn=JJQAXa71CaOP3LUP8LSGsAg&wlfg=true"><i class="fab fa-youtube" style="font-size: 0.8em;"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
        </ul>
        <span><button class="social_btn" onclick="showSocial()"><i class="fas fa-plus"></i></button></span>
      </div> 







